{% extends 'template.html' %} {% block content %}
<section class="page-header bloomred">
  <div class="row">
    <div class="col-sm">
      <!-- <div class="" style="height: 100%"> -->
      <p
        class="template-heading bloomorange"
        style="
          margin: 0;
          padding-bottom: 5px;
          padding-top: 5px;
          padding-left: 1.25rem;
          height: 100%;
          width: 350px;
        "
      >
        STRATEGY: CROSS MARKET
      </p>
      <!-- </div> -->
    </div>
    <div class="col-sm">
      <div class="project-tagline template-tagline">
        <p
          class="template-tagline"
          style="
            margin: 0;
            padding-bottom: 5px;
            padding-top: 5px;
            padding-right: 1.25rem;
            text-align: end;
          "
        >
          Cross-Market Bot Configuration Parameters
        </p>
      </div>
    </div>
  </div>
  <!-- <h1 class="template-heading">Cross Market Strategy</h1>
  <p class="project-tagline">Config parameters to run the MMM bot</p> -->
</section>

<form action="/save_config" method="POST">
  <div class="card" style="margin-top: 1.5rem">
    <input
      type="hidden"
      class="form-control"
      id="strategy_name"
      name="strategy_name"
      value="cross_market"
      required
    />
    <div class="card-header bloomgray">
      <a
        style="text-decoration: none"
        data-toggle="collapse"
        href="#strategy-params"
        aria-expanded="true"
        aria-controls="strategy-params"
        id="heading-example"
        class="d-block card-header-text"
      >
        <i class="fa fa-chevron-down pull-right" style="color: white"></i>
        Strategy Parameters
      </a>
    </div>
    <div
      id="strategy-params"
      class="collapse show"
      aria-labelledby="heading-example"
    >
      <div class="card-body">
        <div class="form-row">
          <div
            class="form-group col-md-2"
            title="When True, the bot will not call exchanges to place orders."
          >
            <i class="fa fa-info-circle fa-lg label-white"></i>
            <label for="dry_run" class="label-white">Dry Run Mode</label>
            <select class="bloom-select" name="dry_run" id="dry_run">
              <option value="True">True</option>
              <option value="False" selected>False</option>
            </select>
          </div>
          <div
            class="form-group col-md-2"
            title="Total number of orders the bot is allowed to have open at any time."
          >
            <i class="fa fa-info-circle fa-lg label-white"></i>
            <label for="max_open_orders" class="label-white"
              >Max Open Orders</label
            >
            <input
              type="number"
              step="any"
              class="bloom-input"
              id="max_open_orders"
              name="max_open_orders"
              value="{{params['max_open_orders']}}"
              required
            />
          </div>
          <div
            class="form-group col-md-2"
            title="The threshold for profit that the bot will use before taking orders."
          >
            <i class="fa fa-info-circle fa-lg label-white"></i>
            <label for="min_profitability_rate" class="label-white"
              >Min Profit Rate</label
            >
            <input
              type="number"
              step="any"
              class="bloom-input"
              id="min_profitability_rate"
              name="min_profitability_rate"
              value="{{params['min_profitability_rate']}}"
              required
            />
          </div>
          <div
            class="form-group col-md-6"
            title="The maximum amount that the bot is allowed to place in each order."
          >
            <i class="fa fa-info-circle fa-lg label-white"></i>
            <label for="max_qty_per_order" class="label-white"
              >Max Amount Per Order (base currency)
            </label>
            <input
              description="per base currency"
              type="number"
              step="any"
              class="bloom-input"
              id="max_qty_per_order"
              name="max_qty_per_order"
              value="{{params['max_qty_per_order']}}"
              required
            />
          </div>
        </div>
        <!-- row 1 -->
        <div class="form-row">
          <div
            class="form-group col-md-2"
            title="Allows the bot to cancel orders if they are not profitable or if no one takes the orders."
          >
            <i class="fa fa-info-circle fa-lg label-white"></i>
            <label for="dry_run" class="label-white"
              >Should Cancel Orders</label
            >
            <select
              class="bloom-select"
              name="should_cancel_order"
              id="should_cancel_order"
            >
              <option value="True">True</option>
              <option value="False" selected>False</option>
            </select>
          </div>
          <div
            class="form-group col-md-4"
            title="The bot will cancel the order if this threshold is not met."
          >
            <i class="fa fa-info-circle fa-lg label-white"></i>
            <label for="cancel_order_threshold" class="label-white"
              >Cancel Order Profit Rate Threshold</label
            >
            <input
              type="number"
              step="any"
              class="bloom-input"
              id="cancel_order_threshold"
              name="cancel_order_threshold"
              value="{{params['cancel_order_threshold']}}"
              required
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of strategy -->

  <div class="card">
    <div class="card-header bloomgray">
      <a
        style="text-decoration: none"
        data-toggle="collapse"
        href="#exchange-info"
        aria-expanded="true"
        aria-controls="exchange-info"
        id="heading-example"
        class="d-block card-header-text"
      >
        <i class="fa fa-chevron-down pull-right" style="color: white"></i>
        Exchange Information
      </a>
    </div>
    <div
      id="exchange-info"
      class="collapse show"
      aria-labelledby="heading-example"
    >
      <div class="card-body" style="padding-right: 0px; padding-left: 0px">
        <div class="card-header-text" style="padding-left: 1.25rem">
          Source Exchange (Binance)
        </div>
        <div class="card-body">
          <div class="form-row">
            <div
              class="form-group col-md-2"
              title="The name of the exchange where you will be searching for orders to pair with orders on the Interchange."
            >
              <i class="fa fa-info-circle fa-lg" style="color: white"></i>
              <label for="exchange_source_name" class="label-white"
                >Exchange Name</label
              >
              <input
                type="text"
                class="bloom-input"
                value="Binance"
                name="exchange_source_name"
                id="exchange_source_name"
                disabled
              />
            </div>
            <div class="form-group col-md-4">
              <label for="exchange_source_api_key" class="label-white">
                <i
                  id="exchange_source_api_key_status"
                  class="fa fa-times"
                  style="color: red"
                  aria-hidden="true"
                ></i>
                API Key
              </label>
              <input
                type="text"
                class="bloom-input"
                placeholder="fillme"
                value="{{params['exchange_source_api_key']}}"
                name="exchange_source_api_key"
                id="exchange_source_api_key"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="exchange_source_api_secret" class="label-white">
                <i
                  id="exchange_source_api_secret_status"
                  class="fa fa-times"
                  style="color: red"
                  aria-hidden="true"
                ></i>
                API Secret
              </label>
              <input
                type="text"
                class="bloom-input"
                placeholder="fillme"
                value="{{params['exchange_source_api_secret']}}"
                name="exchange_source_api_secret"
                id="exchange_source_api_secret"
                required
              />
            </div>
          </div>
          <div style="color: white; margin-bottom: 1.25rem">
            <b>NOTE</b>: You have to enable these:
            <code style="color: #3ef2f9">Can Read</code>,
            <code style="color: #3ef2f9">Enable Spot & Margin Trading</code>,
            and <code style="color: #3ef2f9">Enable Withdrawals</code> of your
            API key and run the bot in your <b>whitelisted IPs</b>
          </div>
          <button
            type="button"
            class="btn btn-info"
            onclick="validateAPIKeys()"
            style="
              margin-top: 0.5rem;
              background-color: #0000f7;
              border-radius: 0px;
              border: none;
            "
          >
            Validate API Keys
          </button>
        </div>
      </div>

      <div class="card-body" style="padding-right: 0px; padding-left: 0px">
        <div class="card-header-text" style="padding-left: 1.25rem">
          Destination Exchange (Overline Interchange)
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="exchange_destination_name" class="label-white"
                >Exchange Name</label
              >
              <input
                type="text"
                class="bloom-input"
                value="Overline Interchange"
                name="exchange_destination_name"
                id="exchange_destination_name"
                disabled
              />
            </div>
            <div
              class="form-group col-md-5"
              title="Your OL public key, found in your BSEC wallet."
            >
              <i class="fa fa-info-circle fa-lg" style="color: white"></i>
              <label
                for="exchange_destination_nrg_public_key"
                class="label-white"
                >Overline (OL) Wallet Public Key</label
              >
              <input
                type="text"
                class="bloom-input"
                placeholder="fillme"
                value="{{params['exchange_destination_nrg_public_key']}}"
                name="exchange_destination_nrg_public_key"
                id="exchange_destination_nrg_public_key"
                required
              />
            </div>
            <div
              class="form-group col-md-5"
              title="Your OL private key, also found in your BSEC wallet."
            >
              <i class="fa fa-info-circle fa-lg" style="color: white"></i>
              <label
                for="exchange_destination_nrg_private_key"
                class="label-white"
                >Overline (OL) Wallet Private Key</label
              >
              <input
                type="text"
                class="bloom-input"
                placeholder="fillme"
                value="{{params['exchange_destination_nrg_private_key']}}"
                name="exchange_destination_nrg_private_key"
                id="exchange_destination_nrg_private_key"
                required
              />
            </div>

            <div class="form-group col-md-10">
              <label
                for="exchange_destination_miner_address"
                class="label-white"
                ><i
                  id="exchange_destination_miner_address_status"
                  class="fa fa-times"
                  style="color: red"
                  aria-hidden="true"
                ></i>
                Overline RPC Address (active address where your txs are
                submitted)
              </label>
              <div class="form-row">
                <div class="form-group col-md-8">
                  <input
                    type="text"
                    class="bloom-input"
                    placeholder="fillme"
                    value="{{params['exchange_destination_miner_address']}}"
                    name="exchange_destination_miner_address"
                    id="exchange_destination_miner_address"
                    required
                  />
                </div>
                <div class="form-group col-md-2">
                  <input
                    type="text"
                    class="bloom-input"
                    placeholder="fillme"
                    value="{{params['exchange_destination_miner_scookie']}}"
                    name="exchange_destination_miner_scookie"
                    id="exchange_destination_miner_scookie"
                  />
                </div>
              </div>
            </div>
          </div>
          <div>
            <pre id="balance-pre" style="color:white"></pre>
          </div>
          <button
            type="button"
            class="btn btn-info"
            onclick="validateBcParams()"
            style="
              margin-top: 0.5rem;
              background-color: #0000f7;
              border-radius: 0px;
              border: none;
            "
          >
            Validate RPC Address
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end of exchange -->

  <div class="card">
    <div class="card-header bloomgray">
      <a
        style="text-decoration: none; padding-left: 1.25rem"
        data-toggle="collapse"
        href="#wallet"
        aria-expanded="true"
        aria-controls="wallet"
        id="heading-example"
        class="d-block card-header-text"
      >
        <i class="fa fa-chevron-down pull-right" style="color: white"></i>
        Wallets
      </a>
    </div>
    <div id="wallet" class="collapse show" aria-labelledby="heading-example">
      <div class="card-body" style="padding-right: 0px; padding-right: 0px">
        <button
          type="button"
          class="btn btn-info"
          onclick="getWallets()"
          style="
            margin-top: 0.5rem;
            background-color: #0000f7;
            border-radius: 0px;
            border: none;
            margin-bottom: 1.5rem;
          "
        >
          Auto-Populate from Binance
        </button>

        <div class="card-header-text">
          Counter Currency (For ETH/BTC pair, ETH=base, BTC=counter)
        </div>
        <div class="card-body" style="padding-left: 0px; padding-right: 0px">
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="wallet_counter_currency_name" class="label-white"
                >Coin Name</label
              >
              <select
                class="bloom-select"
                onchange="clearInputWithId('wallet_counter_currency_wallet', 'counter')"
                name="wallet_counter_currency_name"
                id="wallet_counter_currency_name"
              >
                <option value="BTC" selected>BTC</option>
                <option value="ETH">ETH</option>
                <option value="USDT">USDT</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="wallet_counter_currency_wallet" class="label-white"
                >Wallet</label
              >
              <input
                type="text"
                class="bloom-input"
                placeholder="fillme"
                value="{{params['wallet_counter_currency_wallet']}}"
                name="wallet_counter_currency_wallet"
                id="wallet_counter_currency_wallet"
                required
              />
            </div>
            <div class="form-group col-md-6" style="display: none">
              <label
                for="wallet_counter_currency_private_key"
                class="label-white"
                >Private Key</label
              >
              <input
                type="text"
                class="bloom-input"
                placeholder="fillme"
                value="{{params['wallet_counter_currency_private_key']}}"
                name="wallet_counter_currency_private_key"
                id="wallet_counter_currency_private_key"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="card-body" style="">
        <div class="card-header-text">
          Base Currency (For ETH/BTC pair, ETH=base, BTC=counter)
        </div>
        <div class="card-body" style="padding-right: 0px; padding-left: 0px">
          <div class="form-row">
            <div
              class="form-group col-md-2"
              title="Only ETH/BTC pair supported."
            >
              <i class="fa fa-info-circle fa-lg" style="color: white"></i>
              <label for="wallet_base_currency_name" class="label-white"
                >Coin Name</label
              >
              <select
                class="bloom-select"
                name="wallet_base_currency_name"
                onchange="clearInputWithId('wallet_base_currency_wallet', 'base')"
                id="wallet_base_currency_name"
              >
                <option value="BTC">BTC</option>
                <option value="ETH" selected>ETH</option>
                <option value="LSK">LSK</option>
                <option value="NEO">NEO</option>
                <option value="WAV">WAV</option>
                <option value="DAI">DAI</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="wallet_base_currency_wallet" class="label-white"
                >Wallet</label
              >
              <input
                type="text"
                class="bloom-input"
                placeholder="fillme"
                value="{{params['wallet_base_currency_wallet']}}"
                name="wallet_base_currency_wallet"
                id="wallet_base_currency_wallet"
                required
              />
            </div>
            <div class="form-group col-md-6" style="display: none">
              <label for="wallet_base_currency_private_key" class="label-white"
                >Private Key</label
              >
              <input
                type="text"
                class="bloom-input"
                placeholder="fillme"
                value="{{params['wallet_base_currency_private_key']}}"
                name="wallet_base_currency_private_key"
                id="wallet_base_currency_private_key"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of wallet -->
  <button
    type="submit"
    class="btn btn-primary"
    style="
      margin-top: 0.5rem;
      background-color: #0000f7;
      border-radius: 0px;
      border: none;
      margin-bottom: 0.5rem;
      margin-left: 1.25rem;
    "
  >
    Save Configuration
  </button>
</form>
{% endblock %} {% block script %}
<script src="/static/cross_market.js"></script>
{% endblock %}
