{% extends 'template.html' %}
{% block content %}
<section class="page-header bloomred">
  <div class="row">
    <div class="col-sm">
      <!-- <div class="" style="height: 100%"> -->
      <p
        class="template-heading bloomorange"
        style="
          margin: 0;
          padding-bottom: 5px;
          padding-top: 5px;
          padding-left: 1.25rem;
          height: 100%;
          width: 350px;
        "
      >
        ORDERS
      </p>
      <!-- </div> -->
    </div>
    <div class="col-sm">
      <div class="project-tagline template-tagline">
        <p
          class="template-tagline"
          style="
            margin: 0;
            padding-bottom: 5px;
            padding-top: 5px;
            padding-right: 1.25rem;
            text-align: end;
          "
        >
          Multi-Market Maker Order Monitoring
        </p>
      </div>
    </div>
  </div>
  <!-- <h1 class="template-heading">Cross Market Strategy</h1>
    <p class="project-tagline">Config parameters to run the MMM bot</p> -->
</section>
{% for currency, maker_taker_order_pairs in maker_taker_order_pairs_by_currency.items() %}
  <div class="card">
    <div class="card-header">
      <a style="text-decoration:none" data-toggle="collapse" href="#collapse-order-{{currency | replace('/', '-')}}" aria-expanded="true" aria-controls="collapse-order-{{currency | replace('/', '-')}}" id="heading-example" class="d-block">
        <i class="fa fa-chevron-down pull-right"></i>       Orders for {{ currency }}
      </a>
    </div>
    <div id="collapse-order-{{currency | replace('/', '-')}}" class="collapse show" aria-labelledby="heading-example">
      <div class="card-body table-responsive" class="order">
        <table class="table">
          <thead>
            <tr class='table-text'>
              <th colspan="5" style="border-left: 2px solid #dee2e6; border-right: 2px solid #dee2e6;"  class='order-table-text' >Maker Orders</th>
              <th colspan="6" style="border-right: 2px solid #dee2e6;" class='order-table-text' >Taker Orders</th>
            </tr>
            <tr class='table-text'>
              <th  style="border-left: 2px solid #dee2e6;" >CreatedAt</th>
              <th>Type</th>
              <th>Status</th>
              <th>Price</th>
              <th style="border-right: 2px solid #dee2e6;" >Qty</th>

              <th>CreatedAt</th>
              <th>Type</th>
              <th>Status</th>
              <th>Price</th>
              <th>Qty</th>
              <th  style="border-right: 2px solid #dee2e6;" >Exchange</th>
            </tr>
          </thead>
          <tbody>
            {% for maker_taker_order_pair in maker_taker_order_pairs %}
            <tr id="maker-{{maker_taker_order_pair['maker']['id']}}" style="cursor:pointer" class='table-text' data-toggle="modal" data-target="#orderDetailModal" data-content='{{maker_taker_order_pair | tojson}}'>
              <td  style="border-left: 2px solid #dee2e6;" >{{ maker_taker_order_pair['maker']['created_at'] }}</td>
              <td>{{ maker_taker_order_pair['maker']['order_type'] }}</td>
              <td>{{ maker_taker_order_pair['maker']['status'] }}</td>
              <td>{{ maker_taker_order_pair['maker']['price'] }}</td>
              <td style="border-right: 2px solid #dee2e6;">{{ maker_taker_order_pair['maker']['quantity'] }}</td>

              {% if maker_taker_order_pair['taker'] is not none %}
              <td>{{ maker_taker_order_pair['taker']['created_at'] }}</td>
              <td>{{ maker_taker_order_pair['taker']['order_type'] }}</td>
              <td>{{ maker_taker_order_pair['taker']['status'] }}</td>
              <td>{{ maker_taker_order_pair['taker']['price'] }}</td>
              <td>{{ maker_taker_order_pair['taker']['quantity'] }}</td>
              <td  style="border-right: 2px solid #dee2e6;" >{{ maker_taker_order_pair['taker']['exchange'] }}</td>
              {% else %}
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td  style="border-right: 2px solid #dee2e6;" ></td>

              {%endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="orderDetailModal" tabindex="-1" role="dialog" aria-labelledby="orderDetailModal" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderDetailModalTitle">Order Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pre id='order-detail-display'>
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
    <script>
      $(document).ready(function() {
        $('.table > tbody > tr').on('click', function(e) {
          var content = $(this).data().content;
          console.log(content)
          $('#order-detail-display').text(JSON.stringify(content, null, 2));
        });
      })
    </script>
{% endblock %}